.wrapper {
  width:100%;
  min-height:100vh;
  padding-top:70px;
  padding-bottom: 50px;
  background:var(--article-background);
  transition: background-color 0.3s ease;
  background-size: 400% 400%;
  animation: gradientArticleAnimation 10s ease infinite;
}

@keyframes gradientArticleAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.wrapper h1 {
  font-family: var(--roboto);
  font-size: 42px;
  font-weight: 500;
  color: #3E3E3E;
  line-height:1.66;
  text-transform: initial;
}

/* article_wrapper */

.article_wrapper {
  width:100%;
  padding-top:40px;
}

.article_col_box {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:33.3%;
  max-width:320px;
}

.article_div_box {
  display:flex;
  justify-content:center;
  align-items:center;
  width:80px;
  height:80px;
  border-radius:50%;
}

.article_col_box h4 {
  font-family: var(--roboto);
  font-size: 20px;
  font-weight: 500;
  color: #3D3D3F;
  line-height:1.6;
  text-transform: capitalize;
  padding-top:20px;
  padding-bottom:25px;
}

.article_col_box p {
  font-family: var(--roboto);
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  line-height:1.66;
}


/* .article_box img {} */

/* .article_box img {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* article_drown */
.article_down {
  padding-top:60px;
}

.article_down_img {
  max-width:100%;
  height:auto;
  padding:20px;
}

.article_down_text {
  text-align:left;
  margin-top:80px;
  padding:20px;
}

.article_down_text h2 {
  font-family: var(--roboto);
  font-size: 42px;
  font-weight: 500;
  color: #3D3D3F;
  line-height:auto;
  text-transform: initial;
  white-space: normal !important;
}

.article_down_text p {
  font-family: var(--roboto);
  font-size: 18px;
  font-weight: 400;
  color: rgba(61, 61, 63, 0.7);
  line-height:1.66;
  margin-top:25px;
}

.article_down_text ul li {
  font-family: var(--roboto);
  font-size: 16px;
  font-weight: 400;
  color: #3D3D3F;
  line-height:1.8;
  margin-top:25px;
}

.article_down_text ul li::before{
  content:"";
  display:inline-block;
  width:20px;
  height:20px;
  border-radius:50%;
  background-image: url(../assets/article/check-circle.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size:contain;
  margin-right:20px;
}
