
/* Navbar */
nav.navbar {
  position:absolute;
  width:100%;
  background-image:var(--navigator);
  background-size: 400% 400%;
  animation: gradientNavbarAnimation 10s ease infinite;
  z-index: 1111;
}

@keyframes gradientNavbarAnimation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.nav.navbar.collapsed {
  transition: background-color 0.3s ease;
}

nav .navbar-brand a h1.logo {
  font-family: Rubik, "sans-serif";
  font-size: 2rem;
  line-height: 1.5;
  color: var(--azure);
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
  white-space: normal !important;
}

nav .nav-link{
  display:inline-flex;
  align-items:center;
  color:var(--graphite);
  padding:0 18px;
  font-size:1rem;
  font-weight:500;
  line-height:1.5;
  font-family:var(--poppins);
}

nav .nav-link:hover{
  color:var(--azure);
}

@keyframes myAnimation {
  from {
    background-color: #40A3F8;
    color: #FFFFFF;
  }
  to {
    background-color: #2980B9;
    color: #DEECF5;
  }
}
