/* article */
@media (max-width: 767px) {
  .article_col_box {
    flex: 0 0 100%;
    max-width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .article_col_box {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .article_col_box {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}
