/* about */
@media (max-width:1831px) {
  .about_section {
    overflow: hidden;
    padding-bottom: 70px !important;
  }
}

@media (max-width:1794px) {
  .about_section {
    overflow: hidden;
    padding-bottom: 70px !important;
  }
}

@media (max-width:1399px) {
  .about_section {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
  }
  .about_text h1, h2 {
    font-size: 42px !important;
    white-space: normal !important;
  }
}

@media (max-width:1199px) {
  .about_text h1, h2 {
    font-size: 38px !important;
    white-space: normal !important;
  }
  .about_text p {
    margin-top: 0px;
  }
  .wrapper_btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100% !important;
  }
  .first {
    min-width: 100% !important;
    white-space: nowrap;
  }
  .dropdown_map {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .map {
    top:45px !important;
    left:250px !important;
  }
  .about_block, .ellipse_all {
    left: 30px !important;
  }
  .ellipse_all img {
    width: 100% !important;
  }
}

@media (max-width:991px) {
  .about_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:50px;
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap !important;
  }
  .about_text h1, h2 {
    white-space: nowrap !important;
  }
  .wrapper_btn {
    padding: 0 10px 0 !important;
  }
  .dropdown_map {
    margin-left: 10px;
  }
  .map {
    top:33px !important;
    left:255px !important;
  }
  .about_block {
    padding-bottom:95%;
  }
  .about_block, .ellipse_all {
    left: 0px !important;
  }
}

@media (max-width:767px) {
  .about_text {
    text-align: center;
  }
  .about_block {
    text-align: center;
  }
  .about_section {
    padding-bottom: 55px !important;
  }
  .about_block, .ellipse_all {
    margin-top: -150px;
  }
}

@media (max-width:576px) {
  .about_block, .ellipse_all {
    left: -30px !important;
  }
}

@media (max-width:536px) {
  .about_section {
    padding-bottom: 190px !important;
  }
  .about_block {
    padding-bottom:68%;
  }
  .wrapper_btn {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    max-width:100%;
  }
  .first {
    margin-top: 20px;
  }
  .search_info {
    margin-bottom: 20px;
  }
  .map {
    top:115px !important;
    left:40px !important;
  }
}

@media (max-width:458px) {
  .about_text h1, h2, p {
    white-space: normal !important;
  }
}

@media (max-width:392px) {
  .about_text h1, h2 {
    font-size: 30px !important;
  }
}

@media (max-width:372px) {
  .about_text h1, h2 {
    font-size: 26px !important;
  }
}

@media (max-width:335px) {
  .about_section {
    padding-bottom: 180px !important;
  }
}

/* about */
/* icons */
@media (max-width:1399px) {
  .phone {
    top: 190px !important;
    left: 80px !important;
  }
  
  .video {
    top: 180px !important;
    left: 440px !important;
  }
  
  .chat {
    top: 330px !important;
    left: 0px !important;
  }
  
  .patientReview {
    top: 460px !important;
    left: 110px !important;
  }
  
  .patients {
    top: 350px !important;
    left: 400px !important;
  }
}

@media (max-width:1199px) {
  .phone {
    top: 170px !important;
    left: 70px !important;
  }
  
  .video {
    top: 180px !important;
    left: 370px !important;
  }
  
  .chat {
    top: 310px !important;
    left: 0px !important;
  }
  
  .patientReview {
    top: 460px !important;
    left: 110px !important;
  }
  
  .patients {
    top: 310px !important;
    left: 320px !important;
  }
}

@media (max-width:991px) {
  .phone {
    top: 200px !important;
    left: 120px !important;
  }
  
  .video {
    top: 200px !important;
    left: 570px !important;
  }
  
  .chat {
    top: 360px !important;
    left: 25px !important;
  }
  
  .patientReview {
    top: 550px !important;
    left: 150px !important;
  }
  
  .patients {
    top: 420px !important;
    left: 500px !important;
  }
}

@media (max-width:767px) {
  .phone {
    top: 190px !important;
    left: 70px !important;
  }
  
  .video {
    top: 190px !important;
    left: 430px !important;
  }
  
  .chat {
    top: 330px !important;
    left: 0px !important;
  }
  
  .patientReview {
    top: 440px !important;
    left: 70px !important;
  }
  
  .patients {
    top: 340px !important;
    left: 370px !important;
  }
}

@media (max-width:520px) {
  .video {
    top: 190px !important;
    left: 410px !important;
  }
  
  .patients {
    top: 330px !important;
    left: 350px !important;
  }
}

@media (max-width:500px) {
  .phone {
    top: 180px !important;
    left: 70px !important;
  }
  
  .video {
    top: 180px !important;
    left: 380px !important;
  }
  
  .patientReview {
    top: 420px !important;
    left: 50px !important;
  }
  
  .patients {
    top: 310px !important;
    left: 330px !important;
  }
}

@media (max-width:470px) {
  .phone {
    top: 170px !important;
    left: 60px !important;
  }
  
  .video {
    top: 170px !important;
    left: 350px !important;
  }
  
  .chat {
    top: 290px !important;
    left: 0px !important;
  }
  
  .patientReview {
    top: 400px !important;
    left: 20px !important;
  }
  
  .patients {
    top: 300px !important;
    left: 310px !important;
  }
}

@media (max-width:430px) {
  .video {
    top: 170px !important;
    left: 320px !important;
  }
  
  .patientReview {
    top: 380px !important;
    left: 10px !important;
  }
  
  .patients {
    top: 280px !important;
    left: 280px !important;
  }
}

@media (max-width:410px) {
  .phone {
    top: 170px !important;
    left: 40px !important;
  }
  
  .video {
    top: 170px !important;
    left: 300px !important;
  }
  
  .patientReview {
    top: 370px !important;
    left: 0px !important;
  }
  
  .patients {
    top: 270px !important;
    left: 270px !important;
  }
}

@media (max-width:388px) {
  .phone {
    max-width: 80px !important;
    max-height: 80px !important;
    top: 170px !important;
    left: 40px !important;
  }
  
  .video {
    max-width: 80px !important;
    max-height: 80px !important;
    top: 170px !important;
    left: 290px !important;
  }
  
  .chat {
    max-width: 80px !important;
    max-height: 80px !important;
    top: 290px !important;
    left: 0px !important;
  }
  
  .patientReview {
    max-width: 160px !important;
    max-height: 60px !important;
    top: 360px !important;
    left: 30px !important;
  }
  
  .patients {
    max-width: 140px !important;
    max-height: 90px !important;
    top: 280px !important;
    left: 250px !important;
  }
}

@media (max-width:335px) {
  .phone {
    top: 160px !important;
    left: 30px !important;
  }
  
  .video {
    top: 160px !important;
    left: 240px !important;
  }
  
  .chat {
    top: 260px !important;
    left: 0px !important;
  }
  
  .patientReview {
    top: 330px !important;
    left: 20px !important;
  }
  
  .patients {
    max-width: 140px !important;
    max-height: 90px !important;
    top: 250px !important;
    left: 210px !important;
  }
}

@media (max-width:290px) {
  .video {
    top: 160px !important;
    left: 210px !important;
  }
  
  .chat {
    top: 240px !important;
    left: 0px !important;
  }
  
  .patientReview {
    top: 310px !important;
    left: 20px !important;
  }
  
  .patients {
    max-width: 120px !important;
    height: 70px !important;
    top: 250px !important;
    left: 180px !important;
  }
}

@media (max-width:265px) {
  .phone {
    width:50px !important;
    height: 50px !important;
    top: 160px !important;
    left: 30px !important;
  }
  .video {
    width:50px !important;
    height: 50px !important;
    top: 160px !important;
    left: 170px !important;
  }
  
  .chat {
    width:50px !important;
    height: 50px !important;
    top: 230px !important;
    left: -10px !important;
  }
  
  .patientReview {
    max-width: 190px !important;
    height: 70px !important;
    top: 290px !important;
    left: -10px !important;
  }
  
  .patients {
    max-width: 120px !important;
    height: 70px !important;
    top: 225px !important;
    left: 160px !important;
  }
}
