@media (max-width:1399px) {
  .footer_form button.footer_bottom  {
    max-width: 260px !important;
  }
}

@media (max-width:1240px) {
  .footer_form button.footer_bottom  {
    max-width: 240px !important;
  }
}

@media (max-width:1199px) {
  .footer_form button.footer_bottom  {
    max-width: 215px !important;
  }
}

@media (max-width:1070px) {
  .footer_form button.footer_bottom  {
    max-width: 200px !important;
  }
}

@media (max-width:1010px) {
  .footer_form button.footer_bottom  {
    max-width: 190px !important;
  }
}

@media (max-width:991px) {
  .footer_email input.form-control {
    width: 200px !important;
  }
  .footer_form button.footer_bottom  {
    max-width: 200px !important;
  }
}

@media (max-width:767px) {
  footer {
    margin: 0 auto;
    text-align: center;
  }
  footer ul.socials {
    margin: 0 auto !important;
    margin-left: 165px !important;
    margin-bottom: 30px !important;
  }
  footer .footer_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto !important;
    max-width: 290px !important;
    height: auto !important;
  }
  .footer_down {
    display: flex;
    flex-direction: column;
  }
  .footer_left {
    margin-bottom: 10px;
  }
}

@media (max-width:660px) {
  footer ul.socials {
    margin: 0 auto !important;
    margin-left: 145px !important;
    margin-bottom: 30px !important;
  }
}

@media (max-width:660px) {
  footer ul.socials {
    margin-left: 120px !important;
  }
}

@media (max-width:580px) {
  footer ul.socials {
    margin-left: 100px !important;
  }
}

@media (max-width:580px) {
  footer ul.socials {
    margin-left: 70px !important;
  }
}

@media (max-width:460px) {
  footer ul.socials {
    margin-left: 50px !important;
  }
}

@media (max-width:430px) {
  footer ul.socials {
    margin-left: 30px !important;
  }
}

@media (max-width:420px) {
  footer .footer_right ul {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }

  footer .footer_right ul li {
    margin-top: 10px !important;
  }
}

@media (max-width:205px) {
  .footer_email input.form-control {
    max-width: 150px !important;
  }
  .footer_form button.footer_bottom  {
    max-width: 150px !important;
  }
}
