/* appointment */
@media (max-width:1850px) {
  .section_wrapper_appointment {
    padding-top:180px !important;
  }
}

@media (max-width:1110px) {
  .appointment_img {
    max-width: 80% !important;
    right: -140px !important;
  }
  .appointment_img img {
    max-width: 80% !important;
    height: auto !important;
    top:0px !important;
    right: 80px !important;
  }
}

@media (max-width:900px) {
  .appointment_img {
    max-width: 60% !important;
    right: -140px !important;
  }
  .appointment_img img {
    max-width: 80% !important;
    height: auto !important;
    top:0px !important;
    right: 80px !important;
  }
}

@media (max-width:880px) {
  .appointment_img {
    right: -100px !important;
  }
}

@media (max-width:700px) {
  .appointment_content {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .article_bottom {
    max-width: 195px !important;
    height: auto;
  }
}

@media (max-width:660px) {
  .appointment_img {
    max-width: 60% !important;
    right: -60px !important;
  }
}

@media (max-width:582px) {
  .appointment_content {
    padding-left: 0px !important;
  }
}

@media (max-width:555px) {
  .appointment_content h2 {
    white-space: normal !important;
    overflow-wrap: break-word !important;
  }
  .appointment_img {
    right: -20px !important;
  }
}

@media (max-width:419px) {
  .appointment_img {
    right: -50px !important;
  }
}

@media (max-width:355px) {
  .section_wrapper_appointment {
    padding-top: 0px !important;
  }
  .appointment_content {
    padding-top: 10px !important;
  }
}

@media (max-width:300px) {
  .appointment_content button {
    max-width: 120px !important;
    max-height: 40px !important;
  }
  .appointment_content h2 {
    font-size: 18px !important;
  }
  .appointment_img {
    right: -20px !important;
  }
}
